*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(to right,#ef395b,#f14d45,#c83383,#340bae);
}

.heading{
    margin: 3rem;
    padding: 3rem;
    border: 2px solid black;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}

.container{
    border: 2px solid black;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    margin: 1rem auto;
    background-color: #272727;
    border-radius: 10%;
}

 table tr td{
    width: 8rem;
    height:8rem;
    border: 1px solid rgba(255,255,255,0.05);
    font-size: 3rem;
    text-align: center;
}

table tr td:hover{
    background: #2c3531;
    cursor: pointer;
    border-radius: 2.5rem;
}

.button{
    position: absolute;
    width: 20rem;
    height: 5rem;
    background-color: #000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%,-50%);
    left: 50.1%;
    top: 75%;
}

.button:hover{
    color: #3fc80e;
    width: 21rem;
    height: 5.2rem;
}